html,
body {
    margin: 0;
    padding: 0;
}
.navigation {
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    top: 0;
    padding: 18px 50px;
    width: 100%;
    z-index: 909999;
    background: #1e8bc3;
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 20px 18px 10px 18px;
    font-size: 20px;
    font-family: "Shadows Into Light";
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
}

li:hover {
    background: #156e9b;
    border-radius: 4px;
    /* margin:5px; */
}

.logo {
    padding: 20px 20px 20px 20px;
    line-height: 50px;
    text-transform: lowercase;
    cursor: crosshair;
    font-size: 18px;
    font-family: "Shadows Into Light";
}

#header {
    height: 650px;
    position: relative;
    top: -55px;
    width: 100%;
    background-size: cover;
}

.header-content {
    box-sizing: border-box;
    margin: 0 auto;
    top: 190px;
    width: 70%;
    position: relative;
    text-align: center;
}

span a {
    color: #fff;
    font-family: "VT323";
    font-size: 18px;
    text-decoration: none;
    float: right;
    bottom: -370px;
    position: relative;
    right: -120px;
    font-size: 24px;
}

span a:hover {
    font-family: "VT323", cursive;
    font-size: 26px;
    margin: -5px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #1e8bc3;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 15px 15px 15px 15px;
    outline: none;
    color: rgb(10, 10, 10);
}

.searchTerm:focus {
    color: rgb(10, 10, 10);
}

/* .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #1E8BC3;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  } */

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 780px) {
    span a {
        text-align: center;
        right: 100px;
    }
}
